<h2>Интерполяция</h2>
<p>Hello, {{name}}</p>
<p>{{'Hello,' + name}}</p>
<p>{{printGreeting()}}</p>
<hr>
<h2>Одностороннее связывание</h2>
<a [href]="homePageUrl">Home Page</a>
<br><br>
<a bind-href="homePageUrl">Home Page</a>
<hr>
<h2>Атрибуты</h2>
<td [attr.colspan]="2 + 1">Table Cell Content</td>
<hr>
<h2>Классы</h2>
<p [class]="classes">Some text.</p>
<p [class.red-text]="isRed">Some text.</p>
<hr>
<h2>Стили</h2>
<div [class.mydiv]="isRed" [style.width.%]="isHalf ? 50 : 100">Some text.</div>
